@use "@/styles/mixin" as m;

.navLink {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 44px;
  padding: 0 12px;
  border-radius: 10px;
  color: var(--grey-dark);
  text-wrap: nowrap;

  .textItem {
    display: block;
  }

  &.shrinkedTablet {
    .textItem {
      display: none;
    }
  }
}

.active {
  @extend .navLink;
  background: var(--primary-color);
  color: #fff;
}
