.button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;

  &.primary {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
      background-color: var(--primary-dark);
    }
  }

  &.secondary {
    background: var(--primary-light);

    &:hover {
      background-color: var(--primary-color);
    }
  }

  &.icon {
    background: transparent;
    padding: 0;
    transition: transform 0.25s;

    &:hover {
      transform: scale(1.1);
    }
  }

  // Size
  &.small {
    padding: 7px 10px;
  }
}
