// ==============================
// Variables
// ==============================

// Colors
$primary-color: #35bfa3;
$primary-dark: #0e4d41;
$primary-light: #e4f2d3;

$secondary-color: #4a90e2;

$grey-dark: #63716e;
$grey-subtle: #f7f7f7;
$grey-semi-subtle: #e5e6e6;

$black-color: #203430;
$red-color: #e63d4b;

// Typography
$font-family-base: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-size-base: 1.6rem;

// Spacing
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;

// Border Radius
$border-radius-3: 12px;
$border-radius-2: 8px;

// Breakpoint
$breakpoints: (
  "xxl": 1400px,
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);

// ==============================
// Export as CSS variables
// ==============================
