.wrapper {
  background: #fff;
  // border-radius: var(--border-radius-3);
  // padding: var(--spacing-5);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 10px 49px -16px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}
