@use "@/styles/mixin" as m;

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include m.screen("lg") {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 14px;

  @include m.screen("lg") {
    width: 100%;
  }
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 38px;
  width: 450px;
  padding: 0 0 0 10px;
  background: #f7f7f7;
  border: 1.5px solid #f7f7f7;
  border-radius: var(--border-radius-2);
  overflow: hidden;

  @include m.screen("xl") {
    width: 200px;
  }
  @include m.screen("lg") {
    flex: 1;
  }

  &:focus-within {
    border: 1.5px solid var(--primary-color);
  }
}

.searchInput {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.6rem;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--primary-color);
  padding: 0;
  height: 100%;
  width: 69px;
  transition: background-color 0.25s;

  &:hover {
    background: var(--primary-dark);
    cursor: pointer;
  }
}
