.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
