.adminLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.adminLogoPrefix {
  color: var(--primary-color);
  margin-right: 12px;
}

.adminLogoText {
  color: var(--primary-dark);
}
