@use "@/styles/mixin" as m;

.adminLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.adminLogoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.adminLogoPrefix {
  color: var(--primary-color);

  @include m.screen("lg") {
    display: none;
  }
}

.adminLogoText {
  color: var(--primary-dark);

  @include m.screen("lg") {
    display: none;
  }
}
